#headerTwoDiv{
    background-color: #434779; 
    padding: 5px 0;
    height: 10vh;
}
#alignItems{
    align-items: end;
}
.nav-link {
    color: white !important;
}
#navbarNavDropdown {
    padding: 0; 
}

.navbar-nav .nav-item {
    padding: 0; 
}
